.gradient-custom {
    background: #FAFAFA; /* Set background color of the whole screen */
}

.card-body {
    color: #FAFAFA;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-body-with-shadow {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Increased shadow */
}

.card-registration {
    background-color: #FAFAFA;
    border-radius: 15px;
    width: 100%; /* Stretch the card */
}

.card-registration .card-body {
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 30px; /* Adjust padding as needed */
}

.card-registration .card-body.card-body-with-shadow {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Increased shadow for card-body */
}
